<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
		</staticContent>
		<httpCompression>
			<dynamicTypes>
				<add mimeType="application/wasm" enabled="true" />
			</dynamicTypes>
		</httpCompression>
	</system.webServer>
</configuration>