# --- URL désactivée car on n'utilise plus Torch ---
# --extra-index-url https://download.pytorch.org/whl/cpu

# FastAPI et serveur
fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic==2.5.3
gunicorn

# Machine Learning (Prix et Ajustement) - Ça passe vite
scikit-learn==1.4.0
joblib==1.3.2
numpy==1.26.3
pandas==2.1.4
catboost

# Utilitaire image et upload
Pillow==10.2.0
python-multipart==0.0.6

# --- Deep Learning (DÉSACTIVÉ pour éviter le plantage) ---
# torch==2.1.2+cpu
# torchvision==0.16.2+cpu